sl-dialog::part(panel) {
    border-radius: 12px;
    background-color: #fff;
    padding: 24px;
    box-shadow: 0px 32px 64px -12px #10182824;
    width: 80%;
    height: 80%;
    background-color: #fff;
    gap: 32px;
}

sl-dialog::part(title) {
    font-size: 18px;
    color: #131316;
    font-weight: 500;
    line-height: 28px;
    padding: 0;
}

sl-dialog::part(body) {
    padding: 0;
}