@import "choices.js/public/assets/styles/choices.css";
@import "./input-text.css";
@import "./buttons.css";
@import "./dropdown.css";
@import "./chat-interface.scss";
@import "./composebar.scss";
/* @import './quill-editor.css'; */

/* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); */

/* @font-face {
  font-family: 'Inter';
  src: url('../../public/fonts/Inter-Italic.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
} */

@font-face {
  font-family: 'Inter';
  src: url('/fonts/InterVariable.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

body {
    background-color: #fff;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    overflow: hidden;

    @media (min-width: 1020px) {
        font-size: 12px;
    }
    @media (min-width: 1024px) {
        font-size: 13px;
    }
    @media (min-width: 1280px) {
        font-size: 14px;
    }
    @media (min-width: 1366px) {
        font-size: 15px;
    }
    @media (min-width: 1400px) {
        font-size: 16px;
    }
    @media (min-width: 1530px) {
        font-size: 17px;
    }
    @media (min-width: 1900px) {
        font-size: 18px;
    }
    @media (min-width: 3840px) {
        font-size: 20px;
    }
    @media (min-width: 7680px) {
        font-size: 22px;
    }
}